{{ if .IsHome }}
<main class="bg-dark" id="main">
{{ else }}
<header>
{{ end }}
  <div class="container">
    <div class="row py-5 d-flex justify-content-center {{ if .IsHome }}vh-100{{ end }}">
      <div class="col-md-10 col-xl-8 text-sm-center align-self-center {{ if .IsHome }}mt-n5{{ end }}">
        <h1 class="display-1">{{ .Title }}</h1>
        <p class="lead">{{ .Description}}</p>
        {{ if .IsHome }}
            {{ with .Content }}
                {{.}}
            {{ end }}
        {{ else }}
            {{ block "post_meta" . }}{{ partial "post_meta.html" . }}{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ if .IsHome }}
  </main>
  {{ else }}
  </header>
  {{ end }}
