:root {
    --purple: #10002E;
    --purple-shade1: #190047;
    --purple-shade2: #623ba9;
    --purple-shade3: #9575d0;
    --off-white: #F0E8FF;
    --pink: #fe24a9;
    --yellow: #ffd700;
    --blue: #2fe3ff;
    --green: #3cff3c;
}

html {
    background: var(--purple);
}

body {
  font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 5px 0 0 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

body:before {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  top: 0px;
  position: fixed;
  background: #2fe3ff; /* Old browsers */
  background: -moz-linear-gradient(left,  #2fe3ff 0%, #fe24a9 25%, #ffd700 55%, #fe24a9 64%, #2fe3ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #2fe3ff 0%, #fe24a9 25%, #ffd700 55%, #fe24a9 64%, #2fe3ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2fe3ff 0%, #fe24a9 25%, #ffd700 55%, #fe24a9 64%, #2fe3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fe3ff', endColorstr='#fe24a9',GradientType=1 ); /* IE6-9 */
  background-size: 200%;
  animation-name: gradient;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 9999;
}

@media (prefers-reduced-motion: reduce) {
    body:before {
        animation: none;
    }
}

a,
.navbar-dark .navbar-nav .nav-link {
  color: var(--purple-shade3);
  text-decoration: underline;
  transition: color .15s ease-in-out;
}

.btn,
.navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
}

a:hover {
  color: var(--pink);
}

main a {
    display: inline-block;
    position: relative;
}

main a::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--purple-shade1);
    display: block;
}

main a:focus {
    color: var(--pink);
    outline: 1px dotted var(--yellow);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

li p:not(:last-child) {
    margin-bottom: 0.5rem;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

img {
    max-width: 100%;
}

blockquote {
  border-left: 0.5rem solid var(--pink);
  color: var(--pink);
  font-style: oblique;
  padding-left: 1rem;
}


@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.bg-dark {
  background-color: var(--purple)!important;
}

.navbar {
  background-color: var(--purple-shade1)!important;
}

.text-white {
    color: var(--off-white)!important;
}

.text-muted {
    color: var(--purple-shade3)!important;
}

.vh-75 {
  height: 75vh;
}

.h1, h1 {
    font-size: 19vmin;
    line-height: 1;
    font-weight: 700;
}

header {
    background-color: var(--purple-shade1);
}

pre {
    background-color: rgba(60, 255, 60, 11%);
    border-radius: 20px;
    color: var(--green);
    padding: 20px;
}

pre::-webkit-scrollbar {
    height: 0.5em;
}
pre::-webkit-scrollbar-track {
    background: var(--purple);
    border-radius: 10px;
    width: 50%;
}
pre::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 10px;
}

footer svg {
  fill: var(--purple-shade2);
}

dl, ol, ul {
    padding-left: 1rem;
}

.btn-primary {
  color: var(--purple);
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-primary:hover,
.btn-primary:active
 {
  color: var(--purple);
  background-color: var(--pink);
  border-color: var(--pink);
}

/* Make line numbers in code blocks unselectable */
.ln {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  width: 30px;
  color: var(--purple-shade2);
  margin-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 5%);
  padding-right: 10px;
  display: inline-block;
}

// * * * * * * * * * * * * * * * * *
// ACCESSIBILITY AND PREFERENCES
// * * * * * * * * * * * * * * * * *

*:focus {
  outline: 2px solid orange;
}

/* Reduced motion preferences */
@media screen and (prefers-reduced-motion: reduce) {
    *,
    *:before,
    *:after {
        animation-play-state: paused !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}
