{{ define "main" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <article>
                {{ .Content }}

                {{ if .Params.source }}
                <hr>
                <small class="d-block">
                    Source: <a href="{{ .Params.source.url }}" target="_blank">{{ .Params.source.title }}</a>
                </small>
                <hr>
                {{ end }}
            </article>

            <ul class="pager blog-pager py-3">
                {{ if .PrevInSection }}
                <li class="previous">
                    <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
                </li>
                {{ end }}
                {{ if .NextInSection }}
                <li class="next">
                    <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
                </li>
                {{ end }}
            </ul>


            {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
            {{ if .Site.DisqusShortname }}
            <div class="disqus-comments">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ end }}
            {{ end }}

        </div>
    </div>
</div>
{{ end }}
