// Variables
$black: #000;
$white: #FFF;
$off-black: #121212;
$dark-grey: #272727;
$light-grey: #ededed;
$spindogs-red: #E4192F;

// Transitions
$transform-ease: .3s ease-in-out;
// Cheeky little easter egg for the instagram link
@keyframes instagram-hover {
  0% {background-position: 0%}
  100% {background-position: 200%}
}

// Typeface
@import url('https://fonts.googleapis.com/css?family=Hind:400,500,700&display=swap');
$font-stack: 'Hind', sans-serif;

// Base rules
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-stack;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

// Brand in header
header {
  padding: 40px 0;
  z-index: 999;
}

.brand {
  background-image: url('../assets/logo2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 0;
  height: 50px;
  width: 165px;
}

// Navigation
.navbar {
  background: $black!important; // Force override B4 CDN :(
  color: $white;
  display: block;
  height: 100vh;
  padding: 0;
  right: 0;
  top: 0;
  width: 56px;
  z-index: 9999;

  &-toggler {
    border: 0;
    margin-top: 15px;
  }

  .navbar-collapse {
    background: $black;
    height: 100%;
    right: 56px;
    top: 0;
    width: calc(100vw - 56px); // Compensate for the navbar
  }

  .navbar-nav {
    height: 100%;
    list-style: none;
    text-align: center;

    .nav-link {
      border-bottom: 2px solid $dark-grey;
      font-size: 2em;
      font-weight: 500;
    }
  }
}

// Typography styles
.heading {
  font-size: 2em;
  font-weight: 700;

  @media (min-width: 576px) {
    font-size: 3.5em;
  }

  &--small {
    font-size: 2em;
  }

  &--services {
    @media (min-width: 576px) {
      border-left: $spindogs-red 2px solid;
      padding-left: 1em;
    }
  }
}

.text {
  &--small {
    font-size: .8em
  }
}

.summary {
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 1px;

  &--small {
    font-size: 1em;
    letter-spacing: 0;
  }
}

// Buttons
.button {
  background-color: $white;
  border: 0;
  color: $spindogs-red;
  display: block;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: 2px;
  max-width: 230px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  transition: all $transform-ease;

  &:hover {
    color: $spindogs-red;
    text-decoration: none;
    transform: scale(1.05);
  }

  &--color-red {
    background-color: $spindogs-red;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &--color-dark {
    background-color: $dark-grey;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &-submit {
    max-width: 100%;
    padding: 15px;
    width: 100%;
  }
}

// Hero banner
.banner {
  background-color: $off-black;
  color: $white;

  &__text {
    padding-top: 40vh;
  }

  &__call-to-actions {
    bottom: -74px;
    position: relative;
  }
}

// Video
video {
  object-fit: cover;
  width: 100%;
}

// Services
.services {
  &-intro {
    background: $off-black;
    color: $white;
    padding-bottom: 150px;
    padding-top: 100px;

    @media (min-width: 576px) {
      padding-bottom: 200px;
      padding-top: 150px;
    }
  }

  &-list {
    margin-top: -85px;
    padding-bottom: 85px;

    a:hover {
      text-decoration: none;
    }

    img {
      margin-right: -20px;
      max-width: 100%;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    article {
      margin: 20px 0;
      transition: all $transform-ease;

      @media (min-width: 992px) {
        margin: 0;
        width: 80%;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    &__text {
      background-color: $white;
      box-shadow: 0 0 30px rgba($black, .2);
      margin-left: -15px;
      margin-top: -30px;
      min-height: 175px;
      padding: 20px;
      position: relative;
      width: 100%;
      z-index: 2; // Pull on top of the image

      @media (min-width: 992px) {
        margin-left: -25px;
        max-width: 350px;
        padding: 40px;
        padding-left: 50px;
      }
    }

    h3 {
      color: $black;
      font-size: 1.4em;
      font-weight: 700;
      line-height: 1.5;
    }

    p {
      color: $spindogs-red;
      font-size: .75em;
      font-weight: 500;
      letter-spacing: 1px;
      margin: 0;
      margin-top: 10px;
      padding: 0;
      text-transform: uppercase;
    }
  }
}

// Carousel
.carousel-item {
  background-position: center;
  background-size: cover;

  &__first {
    background-image: url('../assets/banner.jpg');
  }

  &__second {
    background-image:
    linear-gradient(
      to right,
      rgba($black, .75) 0%,
      rgba($black, 0) 100%),
    url('../assets/banner-2.jpg');
  }

  &__third {
    background-image:
    linear-gradient(
      to right,  rgba($black,.75) 0%,
      rgba($black, 0) 100%),
    url('../assets/banner-3.jpg');
  }
}

.carousel-inner {
  overflow: visible;
}

.carousel-indicators {
  justify-content: flex-end;

  li {
    height: 2px;
    margin: 0;
    top: 0;
    transition: all .3s ease-in-out;
    width: 60px;
  }
}

// Contact
.contact {
  background-color: $off-black;
  color: $white;
  padding: 15vh 0;
}

// Form
input,
textarea {
  background-color: $dark-grey;
  border: 0;
  border-radius: 0;
  color: $white;
  padding: 15px;

  &::placeholder {
    color: $white;
    font-size: .75em;
    font-weight: 500;
  }
}

// Footer
footer {
  background-color: $black;
  color: $white;
  padding: 32px;

  @media (min-width: 0) and (max-width: 575px) {
    text-align: center;
  }

  a {
    color: $spindogs-red;

    // Instragm gradient on hover!
    &:hover {
      animation: instagram-hover 2s linear infinite;
      background:
      linear-gradient(
        to right,
        #FEDA75 0%,
        #FA7E1E 11%,
        #D62976 22%,
        #962FBF 33%,
        #4F5BD5 44%,
        #962FBF 66%,
        #D62976 77%,
        #FA7E1E 88%,
        #FEDA75 100%);
      background-clip: text;
      -webkit-background-clip: text;
      background-size: 200%;
      color: rgba($black, 0);
    }
  }
}

// Compensate for navigation bar
header,
main,
footer {
  padding-right: 56px;
}
